body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

#board {
    width: 640px;
    height: 880px;
    background: url("images/Background.webp") repeat-x;
    background-size: cover;
}

#gameOverPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 2px solid black;
    z-index: 1000;
}

/* Media query for smaller screens */
@media (max-width: 480px) {
    body {
        font-size: 16px;
    }

    #board {
        width: 100%;
        height: auto;
    }
}
